.Modal {

  background: rgba(0, 0, 0, 0.197);
  position: absolute;
  z-index: 100000;
  top: 100%;
  left: 0;

  transition: top .5s ease-in-out;

  .modal-box {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    background: white;
    padding: 16px;
    border-radius: 2px;
  }

  .modal-content {
    margin: 16px;
  }
}