.Toolbar-Menu {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;

  min-width: 250px;
  max-width: 400px;
  height: 100%;
  background: white;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  
  user-select: none;
  
  #states {
    width: 100%;

    ul {
      width: 100%;
      justify-content: space-between;
      list-style: none;

      li button {
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 0;
        
        background: white;
        transition: filter 0.3s ease-in-out;
      }

      li button:hover {
        filter: contrast(0.9)
      }

      li button img {
        width: 20px;
        height: 20px;
      }
    }
  }

  #picker {
    display: flex;
    flex-direction: column;
    align-items: center;

    #color-wheel {
      width: 250px;
      height: 200px;
    }

    #color-wheel-text {
      text-align: center;
      width: 100%;
      height: 25px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.239);

      p {
        mix-blend-mode: screen;
      }
    }
  }

  #size {
    margin: 16px 8px 0px 8px;

    section {
      gap: 8px;

      section {
        width: 100%;
        height: 25px;

        #size-px {
          z-index: 0;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          pointer-events: none;
          width: 75.1%;
          height: 25px;
        }
  
        #size-range {
          appearance: none;
          height: 25px;
          width: 100%;
          background: gray;
          outline: none;
          opacity: 0.7;
          transition: opacity 0.3s;
          border-radius: 2px;
        }
        
        #size-range::-webkit-slider-thumb {
          appearance: none;
          background: darkgray;
          border-radius: 0px;
          border: 2px solid darkgray;
          width: 25px;
          height: 25px;
        }
  
        #size-range::-moz-range-thumb {
          background: darkgray;
          border-radius: 0px;
          border: 2px solid darkgray;
          width: 10px;
          height: 25px;
        }
  
        #size-range:hover {
          opacity: 1;
        }
      }
    }
  }

}